body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.wrapper {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    box-sizing: border-box;
}


ul, ol {
    max-width: 100%;
    box-sizing: border-box;
    margin: 8px 0;
    overflow: hidden;
}



h1, h2 {
    text-align: center;
    color: #333;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="number"], input[type="text"], input[type="datetime-local"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.hidden {
    display: none;
}
